@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #ff6347;
  background: linear-gradient(90deg, #ffdf00, #ff6347, #ff4500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 8px;
  padding: 0 8px;
}

.active-heat {
  border: 4px dashed #ff4500;
  border-radius: 16px;
  animation: border-dance 1s infinite alternate;
}

@keyframes border-dance {
  0% {
    border-color: #ff4500;
  }
  50% {
    border-color: #ffdf00;
  }
  100% {
    border-color: #ff6347;
  }
}
